<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main class="main-content">
        <% if (products.length > 0) { %>
            <% for (let product of products) { %>
                <article class="card product-item">
                    <header class="card__header">
                        
                    </header>
                    <div class="card__image"> 
                        <img src="<%= product.imageUrl %>" alt="book">
                    </div>    
                    <div class="card__content"> 
                        <h1>$<%= product.price %></h1>
                        <h3><%= product.title %></h3>
                        <p><%= product.description %></p>
                    </div>    
                    <div class="card__actions">
                        <a href="/admin/edit-product/<%= product.id %>" class="btn btn__primary">Edit</a>
                        <form action="/admin/delete-product" method="POST" style="display: inline-block;">
                            <input type="hidden" name="productId" value="<%= product.id %>">
                            <button class="btn btn__primary" type="submit">Delete</button>
                        </form>
                    </div>    
                </article>
            <% } %>
        <% } else { %>
            <h1>No Products</h1>
        <% } %>
    </main>
<%- include('../includes/end.ejs') %>